*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

/*gestion section*/
section{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#player1{
    background-color: #e9ecf2;
}
.control, #reset{
    position: absolute;
}
.control{
    bottom: 20%;
}#reset{
    top: 10%;
}
/*gestion score*/
input{
    text-align: center;

    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.current{
    color: white;
    background-color: #ea4d4c;
}